.my_top_header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
.my_top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
}
.chat_icn{
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.178); */
    border-radius: 50%;
    padding: 5px;
    width: 36px;
    font-size: 17px;
    text-align: center;
    transition: all ease-in-out 0.1s;
}
.chat_icn:hover{
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}
.chat_m_ara{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    width: 100%;
    margin-left: -24px;
    align-content: flex-end;
    position: fixed;
    bottom: 5px;
    background-color: white;
    /* margin-bottom: -5px; */
}
.btm_ara{
        display: flex;
        align-items: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
}
.btm_ara button{
   /* width: 33px; */
   margin-left: 2px;
   background-color: #638BFA;
    border-radius: 50%;
    padding: 6px;
    height: 33px;
    padding-left: 9px;
    margin-top: 3px;
    text-align: center;
    /* width: 34px; */
    text-align: center;
    text-align: center;
    color: white;
}
.btm_ara form{
    display: flex;    
    margin-bottom: 10px;
}
/* .btm_ara button:hover{
    background-color: rgba(0, 0, 0, 0.151);
} */
.btm_ara textarea{
    width: 565px;
    margin-left: 10px;
    background-color: #f1f3f5;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 5px;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    resize: none;
}
.header_left_area{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.roomId_indicator{
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 4px;
    color: rgba(0, 0, 0, 0.788);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
}
/* .btm_ara input:focus{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.267);
} */
.u_message{
    display: flex;
    justify-content: flex-start;
}
.p_message{
    display: flex;
    justify-content: flex-end;
   
}
.message_leftSide{
    max-width: 70%;
    background-color: #007bff;
    border-radius: 3px;
    margin-top: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    white-space: pre-wrap;
    text-align: left;
  
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
.message_leftSide a{
    text-decoration: underline;
    color: whitesmoke !important;
    
}
.message_leftSide a:hover{
    text-decoration: underline;
}
.message_rightSide{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    max-width: 70%;
    background-color: #F2F2F7;
    border-radius: 3px;
    margin-top: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;
    text-align: left;
}
.ant-drawer-body {
    max-height:calc(100% - 132.5px);
}
.message_leftSide .mess_creator{
    font-weight: 600;
    font-size: 0.8em;
    color: white;
    text-align: left;
}
.message_leftSide .mess_date{
    font-size: 0.7em;
    text-align: right;
}
.message_rightSide .mess_creator{
    font-weight: 600;
    font-size: 0.8em;
    text-align: left;
}
.message_rightSide .mess_date{
    font-size: 0.7em;
    text-align: right;
}