.my_top_header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
.my_top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
}
.chat_icn{
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.178); */
    border-radius: 50%;
    padding: 5px;
    width: 36px;
    font-size: 17px;
    text-align: center;
    transition: all ease-in-out 0.1s;
}
.chat_icn:hover{
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}
.chat_m_ara{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    width: 100%;
    margin-left: -24px;
    align-content: flex-end;
    position: fixed;
    bottom: 10px;
}
.btm_ara{
        display: flex;
        align-items: center;
        align-items: center;
        margin-top: 10px;

        width: 100%;
}
.btm_ara button{
   /* width: 33px; */
   margin-left: 2px;
   background-color: #638BFA;
    border-radius: 50%;
    padding: 6px;
    height: 33px;
    padding-left: 9px;
    text-align: center;
    /* width: 34px; */
    text-align: center;
    text-align: center;
    color: white;
}
/* .btm_ara button:hover{
    background-color: rgba(0, 0, 0, 0.151);
} */
.btm_ara input{
    width: 565px;
    margin-left: 10px;
    background-color: #f1f3f5;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 5px;
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
}
/* .btm_ara input:focus{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.267);
} */