body{
    overflow-y: hidden;
}
.head_h{
    background-color: #1e1e1e;
    padding: 5px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
    justify-content: flex-end;
    align-items: center;
}
.head_h.white{
    background-color: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.712);
}
.head_h.black{
    background-color: black;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
}
#cmd_pallet{
    margin-right: 10px;
    color: white;
    border: 1px dotted white;
    padding: 3px;
    border-radius: 3px;
}
.left_area{
    background-color: #1e1e1e;
}
.Pane.vertical.Pane2  {
    overflow-y: auto;
}
.EditorToolbar__root___3_Aqz{
    background-color: white;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    margin:0px !important;
}

.InputPopover__root___3Hpj9{
    top: calc(100% - 80px) !important;
    left: -230px !important;
}
.InputPopover__root___3Hpj9:before{
    content: none !important;
    
}
.InputPopover__root___3Hpj9:after{
    content: none !important;   
}
.notranslate.public-DraftEditor-content{
    box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 0px;
}
.right_view_area{
    margin: 10px;
}
.Pane.vertical.Pane2{
    background-color: #f8f9fa;
    margin-bottom: 108px;

}  
