body{
    overflow-y: hidden;
}
.head_h{
    background-color: #1e1e1e;
    padding: 5px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
    justify-content: flex-end;
    align-items: center;
}
.head_h.white{
    background-color: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.712);
}
.head_h.black{
    background-color: black;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.445);
}
#cmd_pallet{
    margin-right: 10px;
    color: white;
    border: 1px dotted white;
    padding: 3px;
    border-radius: 3px;
}
.left_area{
    background-color: #1e1e1e;
}
.Pane.vertical.Pane2  {
    overflow-y: auto;
}
.EditorToolbar__root___3_Aqz{
    background-color: white;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    margin:0px !important;
}

.InputPopover__root___3Hpj9{
    top: calc(100% - 80px) !important;
    left: -230px !important;
}
.InputPopover__root___3Hpj9:before{
    content: none !important;
    
}
.InputPopover__root___3Hpj9:after{
    content: none !important;   
}
.notranslate.public-DraftEditor-content{
    box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 0px;
}
.right_view_area{
    margin: 10px;
}
.Pane.vertical.Pane2{
    background-color: #f8f9fa;
    margin-bottom: 108px;

}  
.playground_wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.singInRequire{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,101,192,1) 100%);
}
.message_singin{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.btn_wrap button{
    font-size: 1.3em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    padding: 27px;
    width: 200px;
    background-color:var(--backBlue);
    color: white;
}
.btn_wrap button:hover{
    box-shadow: 6px 6px 0px 0px rgb(2, 37, 78);
    transition: all ease-in-out 0.1s;
}
.not_part_wrap{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80%;
    flex-direction: column;
}
.rm_name{
    font-size: 30px;
    font-weight: 600;
}
.not_part_wrap button{
    font-size: 1.3em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    padding: 27px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color:var(--backBlue);
    color: white;
}
.not_part_wrap button:hover{
    box-shadow: 6px 6px 0px 0px rgb(2, 37, 78);
    transition: all ease-in-out 0.1s;
}
.nott_ppart_wrap{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,101,192,1) 100%);
    height: 100vh;
}