.joinWrapper {
  height: 100vh;
  background: rgb(2, 0, 36);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(21, 101, 192, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinWrapper form {
  text-align: right;
}
.joinWrapper form button {
  font-size: 1.5em;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  width: 200px;
  background-color: var(--backBlue);
  color: white;
}
.joinWrapper form button:hover {
  box-shadow: 6px 6px 0px 0px rgb(2, 37, 78);
  transition: all ease-in-out 0.1s;
}
.idInp {
  font-size: 1.8em;
  margin-top: -60px;
}
.idInp input {
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid;
  border-color: white;

  font-weight: 600;
  margin-left: 14px;
}
@media screen and (max-width: 700px) {
  .idInp {
    font-size: 20px;
    margin-top: -60px;
  }
  .idInp input {
    width: 80px;
  }
}
.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.9em;
}
.backBtn:hover {
  color: var(--backBlue);
}
