.login_wrapper{
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,101,192,1) 100%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.main_wrap{
}
.main_wrap input{
    margin-bottom: 17px;
}
.txt_m{
    color: white;
    padding-top: 30px;
}