.room_selector_wrapper{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,101,192,1) 100%);
    display: flex;
    flex-direction: column;
    width: 100vw;  
    height: 100vh;
    overflow-y: auto;
}
.header_area_top{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 14px;
}
.brandSec{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.opts_btn{
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 50%;
    padding-top: 6px;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
.opts_btn:hover{
    background-color: rgba(255, 255, 255, 0.315);
}
#upper_avtar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#avtar_btn{
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;    
}
#avtar_btn:hover{
    border-bottom: 1px dotted black;
}
.usr_box{
    background-color: rgba(255, 255, 255, 0.342);
    width: 200px;
    border-radius: 7px;
    color: white;
    text-align: center;
    height: 230px;
    margin-top: 20px;
    margin-right: 10px;
}
.usr_box{
    object-fit: contain;
    cursor: pointer;
    font-weight: 700;
    z-index: 10;
}
.usr_box:hover{
    box-shadow: 6px 6px 0px 0px rgb(2 37 78);
    transition: all ease-in-out 0.2s;
}
.room_imagee img{
   height: 180px;
   width: 100%;
   object-fit: contain;
}
.s_divv{
    border-top: 1px solid rgba(255, 235, 205, 0.112);
}
.recentRoomsBtn{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.room_selector_wrapper{
  
}
